.container>header,
.container>header>nav{

    width: 100%;
    height: 20%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 20px black;
    z-index: 2;
}  
.container>header>nav{
    position: fixed;
}
.container>header>nav>.top-nav{
    width: 100%;
    height: 25%;
    background-color: var(--nav-footer-color);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 180px;
}
.container>header>nav>.top-nav>.address>ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}
.container>header>nav>.top-nav>.address>ul>li>span{
    font-size: 20px;
    margin-right: 5px;
}
.container>header>nav>.top-nav>.address>ul>li:first-child{
 
   padding-left: 0;
}
.container>header>nav>.top-nav>.address>ul>li:nth-child(2){
   border-left: 1px solid gray;
   border-right: 1px solid gray; 
}
.container>header>nav>.top-nav>.address>ul>li{
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.container>header>nav>.top-nav>.address>ul>li>span{
    font-size: 20px;
    margin-right: 5px;
    color: var(--btn-n-txt-color);
}
.container>header>nav>.top-nav>.language{
    cursor: pointer;
    align-items: center;
    height: 100%;
    background-color:var(--btn-n-txt-color);
    padding: 5px;
    position: relative;
    display: flex;
}
.container>header>nav>.top-nav>.language>.flag{
    width:25px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}
.container>header>nav>.top-nav>.language>.flag>img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container>header>nav>.top-nav>.language>ul{
    position:absolute;
    text-align: end;
    top:44px;
    right: 0;
    list-style: none;
    padding: 10 px 10px;
    background-color: white;
    color: black;
    display: none;
    box-shadow: 0 0 10px gray;
    transition: 0.2s ease-in-out;
    /* opacity: 0; */




}

.container>header>nav>.top-nav>.language:hover>ul{
    display: block;
    transform: translateY(-5px);
}
.container>header>nav>.menu-nav{
    width: 100%;
    height: 75%;
    padding: 0px 180px;
    background-color:white;
    display: flex;
}
.container>header>nav>.menu-nav>.logo{
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
}
.container>header>nav>.menu-nav>.logo>img{
    width: 50%;
}
.container>header>nav>.menu-nav>.menu-content{
    width: 70%;
    height: 100%;
}
.container>header>nav>.menu-nav>.menu-content>ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.container>header>nav>.menu-nav>.menu-content>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.container>header>nav>.menu-nav>.menu-content>ul>li:last-child>a{
    font-size: 25px;
}
.container>header>nav>.menu-nav>.menu-content>ul>li{
    position: relative;

}
.container>header>nav>.menu-nav>.menu-content>ul>li:last-child::after{
    z-index: -1;
}
.container>header>nav>.menu-nav>.menu-content>ul>li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color:var(--btn-n-txt-color);
    bottom: -3px;
    left: 0;
    transition: 0.5s ease-in-out;
    opacity:0.5 ;

}
.container>header>nav>.menu-nav>.menu-content>ul>li:hover::after{
    opacity: 1;
    width: 100%;
}
.container>header>nav>.menu-nav>.menu-content>ul>li>.drop{
    position: absolute;
    width: 150px;
    bottom: -108px;
    left: 0;
    list-style:none;
    padding: 10px 10px;
    left: 0;
    background-color: gray;
    color: white;
    display: none;
    box-shadow: 0 0 4px wheat;
    transition: 0.2s ease-in-out;

}
.container>header>nav>.menu-nav>.menu-content>ul>li>.drop>li{
    padding: 5px 0;
}
.container>header>nav>.menu-nav>.menu-content>ul>li:hover>.drop{
    display: block;
}
.container>header,
.container>header>nav{
    width: 100%;
    height: 20%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 20px black;
    z-index: 1;
}
.container>header>nav{
    position: fixed;
}




